# While Loop

In [3]:
num = 1
while num <= 5:
    print('Aditya')
    num += 1

Aditya
Aditya
Aditya
Aditya
Aditya

In [6]:
num = 20

while num <= 150:
    print(num)
    num += 1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

In [9]:
# find the addition of numbers between 0 to 10 using while

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1
    print(add)

1
3
6
10
15
21
28
36
45
55

# For loop

In [10]:
for n in 34,20,56,78:
    print(n)

34
20
56
78

In [11]:
for n in 34,20,56,78:
    print(n * n)

1156
400
3136
6084

In [12]:
# range function

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(3,5):
    print(i)

3
4

In [19]:
for i in range(1,21,5):   # (start, ending-1, step)
    print(i)

1
6
11
16

In [20]:
# find the addition of first 10 odd numbers

add = 0
for i in range(1,21,2):
    add = add + i

print(add)

100

In [21]:
# break statement

In [24]:
for x in range(10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

In [25]:
# continue
for x in range(10):
    if x == 5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [27]:
# pass
num = 5

if num < 10:
    pass
else:
    print('not ok')